Repository wight554/blog-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx,json,css,md}": ["prettier --write"],
  "{src,server}/**/*.{ts,tsx}": ["eslint --fix"]
}

fix for windows
  tsconfig.json
Due: prettier --write

blog-template: update deps
  package.json
  test/src/testUtils/renderWithProviders.ts
  yarn.lock
Due: prettier --write

blog-template: update deps (#60)
  package.json
  test/src/testUtils/renderWithProviders.ts
  yarn.lock
Due: prettier --write

blog-tempalte: update ci config
  .github/workflows/node.js.yml
Due: none

blog-tempalte: update ci config (#61)
  .github/workflows/node.js.yml
Due: none

remove some hacks after package updates
  tsconfig.json
  vite.config.ts
Due: prettier --write

ensure postbuild run
  package.json
Due: prettier --write

restore lib check by default
  src/tsconfig.json
  tsconfig.json
Due: prettier --write

Revert "restore lib check by default"
  src/tsconfig.json
  tsconfig.json
Due: prettier --write

blog-template: better integration of subpath imports (#59)
  package.json
  scripts/postbuild.js
  scripts/postinstall.js
  server/tsconfig.json
  tsconfig.json
  vite.config.ts
Due: prettier --write

try swr
  package.json
  scripts/postbuild.js
  src/api/swr.ts
  src/components/App/App.ts
  src/components/Header/Header.ts
  src/components/Login/Login.ts
  src/components/SignUp/SignUp.ts
  src/services/user.ts
  src/store/userState.ts
  yarn.lock
Due: prettier --write, eslint --fix

test react query
  package.json
  src/components/App/App.ts
  src/components/Header/Header.ts
  src/components/Login/Login.ts
  src/components/SignUp/SignUp.ts
  src/main.ts
  src/services/user.ts
  src/store/userState.ts
  yarn.lock
Due: prettier --write, eslint --fix

get rid of recoil
  package.json
  src/atoms/snackbar.ts
  src/components/App/App.ts
  src/components/Header/Header.ts
  src/components/Login/Login.ts
  src/components/PostsList/PostsList.ts
  src/components/SignUp/SignUp.ts
  src/main.ts
  src/services/post.ts
  src/services/user.ts
  src/store/postState.ts
  test/recoilTestSetup.ts
  vite.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

refactor routing schema
  src/components/App/App.ts
  src/main.ts
  src/services/post.ts
  src/services/user.ts
Due: prettier --write, eslint --fix

further refactoring
  src/api/queryClient.ts
  src/components/App/App.ts
  src/components/Header/Header.ts
  src/index.css
  src/main.ts
  src/routes/index.ts
  src/routes/login.ts
  src/routes/root.ts
  src/routes/sign-up.ts
  src/services/post.ts
  src/services/user.ts
  src/utils/api.ts
  test/src/utils/api.test.ts
Due: prettier --write, eslint --fix

fix fallback for posts
  src/services/post.ts
Due: prettier --write, eslint --fix

refactor error handling
  src/api/queryClient.ts
  src/main.ts
  src/routes/index.ts
  src/routes/login.ts
  src/routes/root.ts
  src/services/post.ts
  src/services/user.ts
  src/utils/api.ts
  test/src/utils/api.test.ts
Due: prettier --write, eslint --fix

fix majority of tests
  package.json
  src/atoms/snackbar.ts
  src/components/Header/Header.ts
  src/components/Login/Login.ts
  src/components/SignUp/SignUp.ts
  src/services/user.ts
  test/src/components/App/App.test.ts
  test/src/components/Header/Header.test.ts
  test/src/components/Login/Login.test.ts
  test/src/components/PostsList/PostsList.test.ts
  test/src/components/SignUp/SignUp.test.ts
  test/src/testUtils/components/RecoilObserver/RecoilObserver.ts
  test/src/testUtils/components/RecoilObserver/index.ts
  test/src/testUtils/components/index.ts
  test/src/testUtils/index.ts
  test/src/testUtils/renderWithProviders.ts
  vite.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

switch to msw
  package.json
  src/api/httpClient.ts
  src/components/Header/Header.ts
  src/services/user.ts
  test/src/api/httpClient.test.ts
  test/src/components/Header/Header.test.ts
  test/src/components/PostCard/PostCard.test.ts
  test/src/mocks/mockUser.ts
  test/src/testUtils/index.ts
  test/src/testUtils/msw.ts
  test/src/testUtils/renderWithProviders.ts
  test/testSetup.ts
  yarn.lock
Due: prettier --write, eslint --fix

remove mocked services to use msw
  src/services/user.ts
  test/src/components/App/App.test.ts
  test/src/components/Header/Header.test.ts
  test/src/components/Login/Login.test.ts
  test/src/components/PostsList/PostsList.test.ts
  test/src/components/SignUp/SignUp.test.ts
  test/src/testUtils/index.ts
  test/src/testUtils/mockServiceWorker.ts
  test/src/testUtils/queryClient.ts
  test/src/testUtils/renderWithProviders.ts
  test/testSetup.ts
Due: prettier --write, eslint --fix

refactor fetch polyfill
  src/api/httpClient.ts
  test/src/api/httpClient.test.ts
  test/testSetup.ts
Due: prettier --write, eslint --fix

fix and add more tests
  src/components/Header/Header.ts
  src/services/user.ts
  test/src/components/Header/Header.test.ts
  test/src/testUtils/helpers.ts
  test/src/testUtils/index.ts
  test/src/testUtils/mockServiceWorker.ts
Due: prettier --write, eslint --fix

complete coverage
  test/src/components/PostsList/PostsList.test.ts
Due: prettier --write

remove mutation handlers
  src/api/queryClient.ts
  test/src/testUtils/queryClient.ts
Due: prettier --write, eslint --fix

remove nock
  package.json
  yarn.lock
Due: prettier --write

blog-template: replace recoil with react query and jotai (#62)
  package.json
  src/api/queryClient.ts
  src/atoms/snackbar.ts
  src/components/App/App.ts
  src/components/Header/Header.ts
  src/components/Login/Login.ts
  src/components/PostsList/PostsList.ts
  src/components/SignUp/SignUp.ts
  src/index.css
  src/main.ts
  src/routes/index.ts
  src/routes/login.ts
  src/routes/root.ts
  src/routes/sign-up.ts
  src/services/post.ts
  src/services/user.ts
  src/store/postState.ts
  src/store/snackbarState.ts
  src/store/userState.ts
  src/utils/api.ts
  test/recoilTestSetup.ts
  test/src/components/App/App.test.ts
  test/src/components/Header/Header.test.ts
  test/src/components/Login/Login.test.ts
  test/src/components/PostCard/PostCard.test.ts
  test/src/components/PostsList/PostsList.test.ts
  test/src/components/SignUp/SignUp.test.ts
  test/src/mocks/mockUser.ts
  test/src/testUtils/components/RecoilObserver/RecoilObserver.ts
  test/src/testUtils/components/RecoilObserver/index.ts
  test/src/testUtils/components/index.ts
  test/src/testUtils/helpers.ts
  test/src/testUtils/index.ts
  test/src/testUtils/mockServiceWorker.ts
  test/src/testUtils/queryClient.ts
  test/src/testUtils/renderWithProviders.ts
  test/src/utils/api.test.ts
  test/testSetup.ts
  vite.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

blog-template: switch to node 18
  .github/workflows/node.js.yml
  .node-version
  nodemon.json
Due: prettier --write

blog-template: switch to node 18 (#63)
  .github/workflows/node.js.yml
  .node-version
  nodemon.json
Due: prettier --write

blog-template: update deps
  package.json
  yarn.lock
Due: prettier --write

blog-template: update deps (#64)
  package.json
  yarn.lock
Due: prettier --write

blog-template: update deps
  package.json
  server/user/UserService.ts
  src/routes/index.ts
  src/routes/login.ts
  src/routes/root.ts
  src/services/post.ts
  test/server/auth/AuthController.test.ts
  test/server/auth/AuthService.test.ts
  test/server/comment/CommentController.test.ts
  test/server/post/PostController.test.ts
  test/server/user/UserController.test.ts
  test/server/user/UserService.test.ts
  test/src/components/Header/Header.test.ts
  test/src/components/Login/Login.test.ts
  test/src/components/SignUp/SignUp.test.ts
  test/src/testUtils/mockServiceWorker.ts
  yarn.lock
Due: prettier --write, eslint --fix
