Repository wight554/blog-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx,json,css,md}": ["prettier --write"],
  "{src,server}/**/*.{ts,tsx}": ["eslint --fix"]
}

blog-template: regen lockfile
  yarn.lock
Due: none

blog-template: use ts-mockito instead of sinon
  package.json
  server/crypto/CryptoService.ts
  test/server/auth/AuthController.test.ts
  test/server/auth/AuthService.test.ts
  test/server/crypto/CryptoService.test.ts
  test/server/post/PostController.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

blog-template: remove moq.ts
  package.json
  test/server/decorators/ReqResDecorator.test.ts
  test/server/decorators/UserDecorator.test.ts
  yarn.lock
Due: prettier --write

blog-template: switch to fastify adapter
  package.json
  server/auth/AuthController.ts
  server/auth/strategies/JwtStrategy.ts
  server/decorators/ReqResDecorator.ts
  server/server.ts
  test/server/auth/AuthController.test.ts
  test/server/decorators/ReqResDecorator.test.ts
  test/utils/create-mock-reply.ts
  test/utils/create-mock-response.ts
  yarn.lock
Due: prettier --write, eslint --fix

blog-template: switch to fastify adapter (#5)
  package.json
  server/auth/AuthController.ts
  server/auth/strategies/JwtStrategy.ts
  server/decorators/ReqResDecorator.ts
  server/server.ts
  test/server/auth/AuthController.test.ts
  test/server/decorators/ReqResDecorator.test.ts
  test/utils/create-mock-reply.ts
  test/utils/create-mock-response.ts
  yarn.lock
Due: prettier --write, eslint --fix

blog-template: fix fastify static files loading
  package.json
  server/server.ts
  yarn.lock
Due: prettier --write, eslint --fix

blog-template: fix fastify static files loading (#6)
  package.json
  server/server.ts
  yarn.lock
Due: prettier --write, eslint --fix

blog-template: server: specify host on listen
  server/server.ts
Due: prettier --write, eslint --fix

blog-template: server: specify host on listen (#7)
  server/server.ts
Due: prettier --write, eslint --fix

blog-template: server: set custom host when port is set in env
  server/server.ts
Due: prettier --write, eslint --fix

blog-template: server: set custom host when port is set in env (#8)
  server/server.ts
Due: prettier --write, eslint --fix

blog-template: add unit tests for interceptors
  server/interceptors/MongooseClassSerializerInterceptor.ts
  test/server/interceptors/MongooseClassSerializerInterceptor.test.ts
Due: prettier --write, eslint --fix

blog-template: update code style and add mock creatory
  test/server/interceptors/MongooseClassSerializerInterceptor.test.ts
  test/utils/create-mock-document.ts
Due: prettier --write

blog-template: add swc compiler for building tests
  .eslintrc.js
  package.json
  rollup-plugin-swc.ts
  vite.config.ts
  yarn.lock
Due: prettier --write

blog-template: update dependencies
  package.json
  yarn.lock
Due: prettier --write

blog-template: add unit tests for interceptors (#9)
  server/interceptors/MongooseClassSerializerInterceptor.ts
  test/server/interceptors/MongooseClassSerializerInterceptor.test.ts
  test/utils/create-mock-document.ts
Due: prettier --write, eslint --fix

blog-template: update dependencies (#11)
  package.json
  yarn.lock
Due: prettier --write

blog-template: switch to unplugin-swc
  package.json
  rollup-plugin-swc.ts
  vite.config.ts
  yarn.lock
Due: prettier --write

blog-template: remove old plugin leftover
  .eslintrc.js
Due: prettier --write

blog-template: add swc compiler for building tests (#10)
  package.json
  vite.config.ts
  yarn.lock
Due: prettier --write

blog-template: start removing ts-mockito
  test/server/auth/AuthController.test.ts
  test/server/interceptors/MongooseClassSerializerInterceptor.test.ts
  test/utils/mocks/createMockDocument.ts
  test/utils/mocks/createMockReply.ts
Due: prettier --write

blog-template: use @nestjs/testing as much as possible
  test/server/auth/AuthController.test.ts
  test/server/auth/AuthService.test.ts
  test/server/post/PostController.test.ts
Due: prettier --write

blog-template: remove ts-mockito completely
  package.json
  test/server/decorators/UserDecorator.test.ts
  yarn.lock
Due: prettier --write

blog-template: refactor mocks and add ts-mockito (#4)
  package.json
  server/crypto/CryptoService.ts
  server/post/schemas/PostSchema.ts
  test/server/auth/AuthController.test.ts
  test/server/auth/AuthService.test.ts
  test/server/crypto/CryptoService.test.ts
  test/server/decorators/UserDecorator.test.ts
  test/server/interceptors/MongooseClassSerializerInterceptor.test.ts
  test/server/post/PostController.test.ts
  test/server/post/PostService.test.ts
  test/server/post/mocks/mockMongoPost.ts
  test/server/post/mocks/mockMongoPosts.ts
  test/server/post/mocks/mockPost.ts
  test/server/post/mocks/mockPostDeleteResult.ts
  test/server/post/mocks/mockPostModel.ts
  test/server/post/mocks/mockPosts.ts
  test/server/post/mocks/mockUpdatedMongoPost.ts
  test/server/post/mocks/mockUpdatedPost.ts
  test/server/post/mocks/mockUpsertPost.ts
  test/server/user/UserService.test.ts
  test/server/user/mocks/mockMongoUser.ts
  test/server/user/mocks/mockUpdatedMongoUser.ts
  test/server/user/mocks/mockUpdatedUser.ts
  test/server/user/mocks/mockUpsertUser.ts
  test/server/user/mocks/mockUser.ts
  test/server/user/mocks/mockUserModel.ts
  test/utils/errors/MongoErrorException.ts
  test/utils/mocks/createMockDocument.ts
  test/utils/mocks/createMockReply.ts
  test/utils/mocks/getParamDecoratorFactory.ts
  yarn.lock
Due: prettier --write, eslint --fix

blog-template: add enpoint for comments
  server/app/AppModule.ts
  server/comment/CommentController.ts
  server/comment/CommentModule.ts
  server/comment/CommentService.ts
  server/comment/dto/CreateCommentDto.ts
  server/comment/dto/UpdateCommentDto.ts
  server/comment/schemas/CommentSchema.ts
  server/constants.ts
  server/post/PostService.ts
  server/user/schemas/UserSchema.ts
Due: prettier --write, eslint --fix

blog-template: add transactions fix tests
  server/comment/CommentService.ts
  server/comment/schemas/CommentSchema.ts
  server/post/PostService.ts
  test/server/comment/mocks/mockComment.ts
  test/server/comment/mocks/mockCommentDeleteManyResult.ts
  test/server/comment/mocks/mockCommentDeleteResult.ts
  test/server/comment/mocks/mockCommentModel.ts
  test/server/comment/mocks/mockCommentUpdateResult.ts
  test/server/comment/mocks/mockComments.ts
  test/server/comment/mocks/mockMongoComment.ts
  test/server/comment/mocks/mockMongoComments.ts
  test/server/post/PostService.test.ts
  test/server/post/mocks/mockMongoPost.ts
  test/server/post/mocks/mockPostModel.ts
Due: prettier --write, eslint --fix

blog-template: add tests for transactions and update schemas
  server/comment/CommentService.ts
  server/comment/schemas/CommentSchema.ts
  server/post/schemas/PostSchema.ts
  server/user/schemas/UserSchema.ts
  test/server/mocks/mockMongoConnection.ts
  test/server/post/PostService.test.ts
Due: prettier --write, eslint --fix

blog-template: add typescript/eslint checker
  package.json
  vite.config.ts
  yarn.lock
Due: prettier --write

blog-template: add typescript/eslint checker (#13)
  package.json
  vite.config.ts
  yarn.lock
Due: prettier --write

blog-template: add more tests
  server/comment/CommentService.ts
  test/server/comment/CommentController.test.ts
  test/server/comment/CommentService.test.ts
  test/server/comment/mocks/mockCommentModel.ts
  test/server/comment/mocks/mockUpdatedComment.ts
  test/server/comment/mocks/mockUpdatedMongoComment.ts
  test/server/comment/mocks/mockUpsertComment.ts
  test/server/post/mocks/mockPostModel.ts
  test/server/post/mocks/mockPostUpdateResult.ts
Due: prettier --write, eslint --fix

blog-template: switch to happy-dom
  package.json
  vite.config.ts
  yarn.lock
Due: prettier --write

blog-template: switch to happy-dom env for client test (#14)
  package.json
  vite.config.ts
  yarn.lock
Due: prettier --write

blog-template: update type for ObjectId
  server/comment/schemas/CommentSchema.ts
  server/post/schemas/PostSchema.ts
  server/user/schemas/UserSchema.ts
  test/server/comment/mocks/mockMongoComment.ts
  test/server/comment/mocks/mockMongoComments.ts
  test/server/post/mocks/mockMongoPost.ts
  test/server/post/mocks/mockMongoPosts.ts
  test/server/user/mocks/mockMongoUser.ts
Due: prettier --write, eslint --fix

blog-template: update deps
  package.json
  yarn.lock
Due: prettier --write

blog-template: update deps (#15)
  package.json
  yarn.lock
Due: prettier --write

blog-template: fix typescript errors in tests
  test/server/comment/CommentService.test.ts
  test/server/post/PostService.test.ts
Due: prettier --write

blog-template: update deps (#16)
  package.json
  yarn.lock
Due: prettier --write

blog-template: update implementation
  heroku.yml
  server/comment/CommentService.ts
  server/enums/MongoError.ts
  server/post/PostService.ts
  server/user/UserService.ts
  test/server/comment/CommentService.test.ts
  test/server/comment/mocks/mockCommentModel.ts
  test/server/post/PostService.test.ts
  test/server/post/mocks/mockPostModel.ts
  test/server/user/UserService.test.ts
  test/server/user/mocks/mockUserModel.ts
  test/utils/errors/MongoErrorException.ts
  test/utils/mocks/createMockDocument.ts
  test/utils/mocks/getParamDecoratorFactory.ts
Due: prettier --write, eslint --fix

blog-template: fix comment controller response tests
  test/server/comment/CommentController.test.ts
Due: prettier --write
