Repository wight554/blog-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx,json,css,md}": ["prettier --write"],
  "{src,server}/**/*.{ts,tsx}": ["eslint --fix"]
}

blog-template: add vitest
  .eslintrc.js
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write

blog-template: fix eslint warnings
  .eslintrc.js
  src/main.tsx
  tsconfig.json
Due: prettier --write, eslint --fix

blog-template: inject mongoose
  .env.example
  package-lock.json
  package.json
  server/module/AppModule.ts
Due: prettier --write, eslint --fix

blog-template: implement authentication
  .env.example
  .eslintrc.js
  .prettierrc.json
  package-lock.json
  package.json
  server/app/AppModule.ts
  server/auth/AuthController.ts
  server/auth/AuthModule.ts
  server/auth/AuthService.ts
  server/auth/guards/JwtAuthGuard.ts
  server/auth/guards/LocalAuthGuard.ts
  server/auth/interfaces/ITokenPayload.ts
  server/auth/strategies/JwtStrategy.ts
  server/auth/strategies/LocalStrategy.ts
  server/constants.ts
  server/crypto/CryptoModule.ts
  server/crypto/CryptoService.ts
  server/decorators/UserDecorator.ts
  server/enums/EMongoError.ts
  server/post/PostController.ts
  server/post/PostModule.ts
  server/server.ts
  server/user/UserModule.ts
  server/user/UserService.ts
  server/user/dto/CreateUserDto.ts
  server/user/dto/UpdateUserDto.ts
  server/user/schemas/UserSchema.ts
  tsconfig.json
Due: prettier --write, eslint --fix

blog-template: switch to ts-node-dev
  nodemon.json
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write

blog-template: downgrade class-validator to 0.13.1
  package-lock.json
  package.json
Due: prettier --write

blog-template: add eslint config for client
  package-lock.json
  package.json
  src/.eslintrc.js
  src/logo.tsx
Due: prettier --write, eslint --fix

blog-template: add ci workflow
  .github/workflows/node.js.yml
Due: none

blog-template: add support for client tests
  .eslintrc.js
  .husky/pre-push
  package-lock.json
  package.json
  test/src/app.test.tsx
  tsconfig.json
  vite.config.ts
Due: prettier --write

blog-template: server: refactor and add tests for auth
  package-lock.json
  package.json
  server/auth/AuthController.ts
  server/auth/AuthService.ts
  server/auth/strategies/JwtStrategy.ts
  server/auth/strategies/LocalStrategy.ts
  server/interceptors/MongooseClassSerializerInterceptor.ts
  server/user/UserService.ts
  server/user/dto/CreateUserDto.ts
  server/user/dto/UpdateUserDto.ts
  server/user/schemas/UserSchema.ts
  test/server/auth/AuthController.test.ts
  test/server/auth/AuthService.test.ts
  test/server/post/PostController.test.ts
  vite.config.ts
Due: prettier --write, eslint --fix

blog-template: do not include vite config in tsconfig
  .eslintrc.js
  tsconfig.json
Due: prettier --write

blog-template: test: do not import globals
  test/src/app.test.tsx
Due: prettier --write

blog-template: specify extensions for preact plugin
  src/app.tsx
  vite.config.ts
Due: prettier --write, eslint --fix

blog-template: server: add more unit tests
  .gitignore
  package-lock.json
  package.json
  server/auth/AuthController.ts
  server/decorators/ReqResDecorator.ts
  server/user/UserService.ts
  test/server/auth/AuthController.test.ts
  test/server/auth/AuthService.test.ts
  test/server/crypto/CryptoService.test.ts
  test/server/decorators/ReqResDecorator.test.ts
  test/server/decorators/UserDecorator.test.ts
  test/server/user/UserService.test.ts
  test/utils/MongoErrorException.ts
  test/utils/get-param-decorator-factory.ts
Due: prettier --write, eslint --fix

blog-template: use c8 for coverage reports
  .c8rc.json
  package.json
Due: prettier --write

blog-template: move index.html to src/
  src/index.html
  vite.config.ts
Due: prettier --write

blog-template: switch to pnpm
  .github/workflows/node.js.yml
  .husky/pre-push
  Procfile
  package-lock.json
  package.json
  pnpm-lock.yaml
  test/server/auth/AuthController.test.ts
  test/utils/create-mock-response.ts
  tsconfig.client.json
Due: prettier --write

blog-template: update dependencies
  .gitignore
  package.json
  pnpm-lock.yaml
Due: prettier --write

blog-template: remove unused dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write

blog-template: add postinstall script for heroku
  package.json
  scripts/postinstall.js
Due: prettier --write

blog-template: migrate to yarn2
  .github/workflows/node.js.yml
  .gitignore
  .husky/pre-push
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  Procfile
  heroku.yml
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: prettier --write

blog-template: add typescript to dev dependencies
  package.json
  yarn.lock
Due: prettier --write

blog-template: use short yarn commands
  .husky/pre-push
  Procfile
  heroku.yml
  package.json
  vite.config.ts
  yarn.lock
Due: prettier --write

blog-template: update vitest
  package.json
  yarn.lock
Due: prettier --write

blog-template: add nvmrc file
  .nvmrc
Due: none

blog-template: server: add get all posts endpoint
  server/post/PostController.ts
  server/post/PostModule.ts
  server/post/PostService.ts
  server/post/schemas/PostSchema.ts
  test/server/post/PostController.test.ts
Due: prettier --write, eslint --fix

blog-template: add get post endpoint
  server/constants.ts
  server/post/PostController.ts
  server/post/PostService.ts
  test/server/post/PostController.test.ts
Due: prettier --write, eslint --fix

blog-template: provide missing peer dependency
  package.json
  server/auth/strategies/JwtStrategy.ts
  yarn.lock
Due: prettier --write, eslint --fix

blog-template: add posts POST endpoint
  server/constants.ts
  server/post/PostController.ts
  server/post/PostService.ts
  server/post/dto/CreateUserDto.ts
  server/post/schemas/PostSchema.ts
  test/server/post/PostController.test.ts
Due: prettier --write, eslint --fix

blog-template: add posts PUT endpoint
  server/constants.ts
  server/post/PostController.ts
  server/post/PostService.ts
  server/post/dto/CreatePostDto.ts
  server/post/dto/UpdatePostDto.ts
  test/server/post/PostController.test.ts
Due: prettier --write, eslint --fix

blog-template: remove unused import
  server/post/PostService.ts
Due: prettier --write, eslint --fix

blog-template: add posts DELETE endpoint
  server/constants.ts
  server/interceptors/MongooseClassSerializerInterceptor.ts
  server/post/PostController.ts
  server/post/PostService.ts
  test/server/post/PostController.test.ts
Due: prettier --write, eslint --fix

blog-template: update dependencies
  package.json
  yarn.lock
Due: prettier --write

blog-template: update dependencies (#3)
  package.json
  yarn.lock
Due: prettier --write

blog-template: add tests for PostService
  server/post/PostService.ts
  test/server/post/PostController.test.ts
  test/server/post/PostService.test.ts
Due: prettier --write, eslint --fix

blog-template: restore update result check
  server/post/PostService.ts
  test/server/post/PostService.test.ts
Due: prettier --write, eslint --fix

blog-template: simplify post service getById test
  server/post/PostService.ts
  test/server/post/PostService.test.ts
Due: prettier --write, eslint --fix

blog-template: add dto whitelist options
  server/server.ts
Due: prettier --write, eslint --fix

blog-template: server: add endpoints for posts (#2)
  server/constants.ts
  server/interceptors/MongooseClassSerializerInterceptor.ts
  server/post/PostController.ts
  server/post/PostModule.ts
  server/post/PostService.ts
  server/post/dto/CreatePostDto.ts
  server/post/dto/UpdatePostDto.ts
  server/post/schemas/PostSchema.ts
  server/server.ts
  test/server/post/PostController.test.ts
  test/server/post/PostService.test.ts
Due: prettier --write, eslint --fix

blog-template: refactor mocks and add moq.ts
  package.json
  server/post/schemas/PostSchema.ts
  test/server/auth/AuthController.test.ts
  test/server/auth/AuthService.test.ts
  test/server/crypto/CryptoService.test.ts
  test/server/decorators/ReqResDecorator.test.ts
  test/server/decorators/UserDecorator.test.ts
  test/server/post/PostController.test.ts
  test/server/post/PostService.test.ts
  test/server/post/mocks/mockMongoPost.ts
  test/server/post/mocks/mockMongoPosts.ts
  test/server/post/mocks/mockPost.ts
  test/server/post/mocks/mockPostDeleteResult.ts
  test/server/post/mocks/mockPostModel.ts
  test/server/post/mocks/mockPosts.ts
  test/server/post/mocks/mockUpdatedMongoPost.ts
  test/server/post/mocks/mockUpdatedPost.ts
  test/server/post/mocks/mockUpsertPost.ts
  test/server/user/UserService.test.ts
  test/server/user/mocks/mockMongoUser.ts
  test/server/user/mocks/mockUpdatedMongoUser.ts
  test/server/user/mocks/mockUpdatedUser.ts
  test/server/user/mocks/mockUpsertUser.ts
  test/server/user/mocks/mockUser.ts
  test/server/user/mocks/mockUserModel.ts
  test/utils/create-mock-response.ts
  test/utils/errors/MongoErrorException.ts
  test/utils/mocks/getParamDecoratorFactory.ts
  yarn.lock
Due: prettier --write, eslint --fix
