Repository wight554/blog-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx,json,css,md}": ["prettier --write"],
  "{src,server}/**/*.{ts,tsx}": ["eslint --fix"]
}

use one-liner from docs for husky postinstall
  package.json
  scripts/postinstall.js
Due: prettier --write

fix eslint errors and improve import order
  .eslintrc.js
  src/components/App/App.tsx
  src/components/Header/Header.tsx
  src/main.tsx
  test/src/components/Header/Header.test.tsx
Due: prettier --write, eslint --fix

remove duplicated rule
  .eslintrc.js
Due: prettier --write

blog-template: add wrapper for rollup typescript plugin
  vite.config.ts
  vite/plugins/typescript.ts
Due: prettier --write

use plugin from npm package
  package.json
  vite.config.ts
  vite/plugins/typescript.ts
  yarn.lock
Due: prettier --write

update plugin version
  package.json
  yarn.lock
Due: prettier --write

blog-template: add wrapper for rollup typescript plugin (#40)
  package.json
  vite.config.ts
  yarn.lock
Due: prettier --write

blog-template: update deps
  package.json
  yarn.lock
Due: prettier --write

blog-template: add recommended eslint config for testing library
  .eslintrc.js
  package.json
  yarn.lock
Due: prettier --write

apply testing-library/react rules only for component tests
  .eslintrc.js
Due: prettier --write

blog-template: add recommended eslint config for testing library (#42)
  .eslintrc.js
  package.json
  yarn.lock
Due: prettier --write

properly use and integrate htm and fix eslint matcher
  .eslintrc.js
  index.html
  package.json
  src/components/App/App.ts
  src/components/Header/Header.ts
  src/components/Logo/Logo.ts
  src/main.ts
  test/src/components/App/App.test.ts
  test/src/components/Header/Header.test.ts
  test/src/components/Header/Header.test.tsx
  test/src/testUtils/renderWithProviders.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

improve page layout
  src/components/App/App.ts
  src/components/App/styles.ts
  src/components/Header/styles.ts
  src/components/Logo/Logo.ts
  src/index.css
Due: prettier --write, eslint --fix

update new packages
  package.json
  src/components/Logo/Logo.ts
  yarn.lock
Due: prettier --write, eslint --fix

blog-template: implement mui and add app header (#38)
  .eslintrc.js
  index.html
  package.json
  src/app.tsx
  src/components/App/App.ts
  src/components/App/index.ts
  src/components/App/styles.ts
  src/components/Header/Header.ts
  src/components/Header/index.ts
  src/components/Header/styles.ts
  src/components/Logo/Logo.ts
  src/components/Logo/index.ts
  src/index.css
  src/main.ts
  src/main.tsx
  test/src/components/App/App.test.ts
  test/src/components/Header/Header.test.ts
  test/src/testUtils/renderWithProviders.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

blog-template: initial client auth impl
  .eslintrc.js
  package.json
  server/auth/AuthController.ts
  server/constants/controllers.ts
  server/user/UserController.ts
  src/api/httpClient.ts
  src/components/App/App.ts
  src/components/Header/Header.ts
  src/components/Login/Login.ts
  src/components/Login/index.ts
  src/components/SignUp/SignUp.ts
  src/components/SignUp/index.ts
  src/interfaces/User.ts
  src/main.ts
  src/store/loadingState.ts
  src/store/userState.ts
  src/utils/httpError.ts
  test/server/auth/AuthController.test.ts
  test/server/user/UserController.test.ts
  test/src/api/httpClient.test.ts
  test/src/components/App/App.test.ts
  test/src/testUtils/renderWithProviders.ts
  yarn.lock
Due: prettier --write, eslint --fix

add and use declarative promise wrapper
  src/components/App/App.ts
  src/utils/promiser.ts
Due: prettier --write, eslint --fix

move backdrop styles
  src/api/httpClient.ts
  src/components/App/App.ts
  src/components/App/styles.ts
  src/components/Header/Header.ts
  src/interfaces/model/User.ts
  src/interfaces/util/StylableProps.ts
  src/store/userState.ts
Due: prettier --write, eslint --fix

improve logout handler
  src/components/App/App.ts
Due: prettier --write, eslint --fix

initial login page
  src/components/App/App.ts
  src/components/Header/Header.ts
  src/components/Login/Login.ts
  src/interfaces/util/TargetedEvent.ts
  src/utils/promiser.ts
Due: prettier --write, eslint --fix

further update
  package.json
  yarn.lock
Due: prettier --write

update new deps
  package.json
  yarn.lock
Due: prettier --write

blog-template: update deps (#41)
  package.json
  yarn.lock
Due: prettier --write

blog-template: add more utils for http requests and re-implement http-client
  package.json
  src/api/httpClient.ts
  src/api/httpError.ts
  src/api/promiser.ts
  test/src/api/httpClient.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

update http client tests
  src/api/httpClient.ts
  test/src/api/httpClient.test.ts
Due: prettier --write, eslint --fix

add tests for http error and promiser
  test/src/api/httpError.test.ts
  test/src/api/promiser.test.ts
Due: prettier --write

blog-template: improve auth flow
  .eslintrc.js
  server/auth/AuthController.ts
  server/constants/controllers.ts
  server/user/UserController.ts
  test/server/auth/AuthController.test.ts
  test/server/user/UserController.test.ts
Due: prettier --write, eslint --fix

blog-template: add more api utils and update http-client (#44)
  package.json
  src/api/httpClient.ts
  src/api/httpError.ts
  src/api/promiser.ts
  test/src/api/httpClient.test.ts
  test/src/api/httpError.test.ts
  test/src/api/promiser.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

blog-template: improve auth flow (#45)
  .eslintrc.js
  server/auth/AuthController.ts
  server/constants/controllers.ts
  server/user/UserController.ts
  test/server/auth/AuthController.test.ts
  test/server/user/UserController.test.ts
Due: prettier --write, eslint --fix

blog-template: implement react-router-dom
  package.json
  src/main.ts
  test/src/testUtils/renderWithProviders.ts
  yarn.lock
Due: prettier --write, eslint --fix

blog-template: implement react-router-dom (#46)
  package.json
  src/main.ts
  test/src/testUtils/renderWithProviders.ts
  yarn.lock
Due: prettier --write, eslint --fix

use yarn.lock from master
  yarn.lock
Due: none

remove old api utils
  src/components/App/App.ts
  src/utils/httpError.ts
  src/utils/promiser.ts
Due: prettier --write, eslint --fix

temp test fix
  test/src/components/Header/Header.test.ts
Due: prettier --write

add initial sign-up implementation and improve data fetching
  src/components/App/App.ts
  src/components/App/styles.ts
  src/components/Backdrop/Backdrop.ts
  src/components/Backdrop/index.ts
  src/components/Header/Header.ts
  src/components/Login/Login.ts
  src/components/SignUp/SignUp.ts
  src/store/loadingState.ts
  src/store/userState.ts
  yarn.lock
Due: prettier --write, eslint --fix

temp test fix
  test/src/components/App/App.test.ts
Due: prettier --write

remove unused code
  src/components/App/App.ts
Due: prettier --write, eslint --fix

update async data handling
  src/api/httpClient.ts
  src/api/httpError.ts
  src/api/promiser.ts
  src/api/user.ts
  src/components/App/App.ts
  src/components/Backdrop/Backdrop.ts
  src/components/Header/Header.ts
  src/components/Login/Login.ts
  src/components/SignUp/SignUp.ts
  src/interfaces/payload/LoginPayload.ts
  src/interfaces/payload/SignUpPayload.ts
  src/store/snackbarState.ts
  src/store/userState.ts
  src/utils/api.ts
Due: prettier --write, eslint --fix

add validation and reduce duplicated code
  package.json
  src/components/App/App.ts
  src/components/AuthFormContainer/AuthFormContainer.ts
  src/components/AuthFormContainer/index.ts
  src/components/AuthFormContainer/styles.ts
  src/components/AuthTextField/AuthTextField.ts
  src/components/AuthTextField/index.ts
  src/components/Login/Login.ts
  src/components/SignUp/SignUp.ts
  src/utils/validators.ts
  yarn.lock
Due: prettier --write, eslint --fix
