Repository wight554/blog-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx,json,css,md}": ["prettier --write"],
  "{src,server}/**/*.{ts,tsx}": ["eslint --fix"]
}

add validator types
  src/utils/validators.ts
Due: prettier --write, eslint --fix

reduce code duplication
  src/components/AuthFormContainer/AuthFormContainer.ts
  src/components/AuthFormField/AuthFormField.ts
  src/components/AuthFormField/index.ts
  src/components/AuthFormField/styles.ts
  src/components/AuthTextField/AuthTextField.ts
  src/components/AuthTextField/index.ts
  src/components/Login/Login.ts
  src/components/SignUp/SignUp.ts
  src/utils/validators.ts
Due: prettier --write, eslint --fix

add confirm password input
  src/components/SignUp/SignUp.ts
  src/utils/validators.ts
Due: prettier --write, eslint --fix

improve coding style
  src/components/App/App.ts
  src/components/AuthFormContainer/AuthFormContainer.ts
  src/components/AuthFormContainer/styles.ts
  src/components/Header/Header.ts
  src/components/Header/styles.ts
  src/components/Login/Login.ts
  src/components/SignUp/SignUp.ts
Due: prettier --write, eslint --fix

add tests for app component
  src/components/App/App.ts
  test/recoilTestSetup.ts
  test/src/components/App/App.test.ts
  vite.config.ts
Due: prettier --write, eslint --fix

blog-template: update api utils
  src/api/httpClient.ts
  src/api/httpError.ts
  src/api/promiser.ts
Due: prettier --write, eslint --fix

blog-template: add test setup for recoil
  test/recoilTestSetup.ts
  vite.config.ts
Due: prettier --write

blog-template: update api utils (#47)
  src/api/httpClient.ts
  src/api/httpError.ts
  src/api/promiser.ts
Due: prettier --write, eslint --fix

blog-template: add test setup for recoil (#48)
  test/recoilTestSetup.ts
  vite.config.ts
Due: prettier --write

fix merge
  src/api/httpClient.ts
  src/api/promiser.ts
Due: prettier --write, eslint --fix

move user service to services folder
  src/components/Header/Header.ts
  src/components/Login/Login.ts
  src/components/SignUp/SignUp.ts
  src/services/user.ts
  src/store/userState.ts
  test/src/components/App/App.test.ts
Due: prettier --write, eslint --fix

properly fix merge
  src/api/httpClient.ts
  src/api/promiser.ts
Due: prettier --write, eslint --fix

blog-template: add tests for api utils and validators
  src/enums/ValidationError.ts
  src/utils/validators.ts
  test/src/utils/api.test.ts
  test/src/utils/validators.test.ts
Due: prettier --write, eslint --fix

fix test
  test/src/utils/validators.test.ts
Due: prettier --write

add tests for header
  test/src/components/App/App.test.ts
  test/src/components/Header/Header.test.ts
  test/src/testUtils/components/RecoilObserver/RecoilObserver.ts
  test/src/testUtils/components/RecoilObserver/index.ts
  test/src/testUtils/components/index.ts
  test/src/testUtils/index.ts
  test/src/testUtils/renderWithProviders.ts
Due: prettier --write

blog-template: update dependencies
  package.json
  yarn.lock
Due: prettier --write

improve plugin imports
  server/fastifyPlugins.ts
  server/server.ts
Due: prettier --write, eslint --fix

update to newer deps and fix tsc-alias
  package.json
  tsconfig.server.json
  yarn.lock
Due: prettier --write

blog-template: update dependencies (#49)
  package.json
  tsconfig.server.json
  yarn.lock
Due: prettier --write

remove htm shim
  src/shim.d.ts
Due: prettier --write, eslint --fix

import default from fastify-cookie
  server/server.ts
Due: prettier --write, eslint --fix

regen yarn.lock
  yarn.lock
Due: none

fix eslint warning
  test/src/testUtils/components/RecoilObserver/RecoilObserver.ts
Due: prettier --write

add tests for all components
  .eslintrc.js
  src/components/App/App.ts
  src/components/AuthFormContainer/AuthFormContainer.ts
  src/components/AuthFormContainer/styles.ts
  src/components/Header/Header.ts
  src/components/Header/styles.ts
  src/components/Login/Login.ts
  src/components/SignUp/SignUp.ts
  test/src/components/App/App.test.ts
  test/src/components/AuthFormContainer/AuthFormContainer.test.ts
  test/src/components/AuthFormField/AuthFormField.test.ts
  test/src/components/Header/Header.test.ts
  test/src/components/Login/Login.test.ts
  test/src/components/SignUp/SignUp.test.ts
  test/src/testUtils/renderWithProviders.ts
Due: prettier --write, eslint --fix

fix rtl warning
  test/src/components/AuthFormContainer/AuthFormContainer.test.ts
Due: prettier --write

do not export userInfoQuery
  src/store/userState.ts
Due: prettier --write, eslint --fix

cosmetic changes
  src/components/App/App.ts
  src/components/Login/Login.ts
  src/components/SignUp/SignUp.ts
Due: prettier --write, eslint --fix

get rid of sx props where possible
  src/components/AuthFormContainer/AuthFormContainer.ts
  src/components/AuthFormContainer/styles.ts
Due: prettier --write, eslint --fix

blog-template: update deps
  package.json
  server/server.ts
  yarn.lock
Due: prettier --write, eslint --fix

include vite config in tsconfig
  tsconfig.json
Due: prettier --write

fix typescript error
  src/utils/validators.ts
Due: prettier --write, eslint --fix

blog-template: update deps (#51)
  package.json
  server/server.ts
  src/utils/validators.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

blog-template: ignore webstorm configuration folder
  .gitignore
Due: none

blog-template: ignore webstorm configuration folder (#52)
  .gitignore
Due: none

blog-template: update deps
  package.json
  yarn.lock
Due: prettier --write

downgrade preact/testing library for now
  package.json
  yarn.lock
Due: prettier --write

blog-template: update deps (#53)
  package.json
  yarn.lock
Due: prettier --write
